body {
    background-image: url('https://media.giphy.com/media/Y07JHGMqEAOXcoyIaR/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
}

.container {
    background: black;
    border: 4px dashed white;
    height: 400px;
    width: 800px;
    margin: 0 auto;
}

.btn-mine {
    background-color: rgb(255, 164, 0);
    margin-left: 300px;
    margin-top: 120px;
}

.btn-other {
    background-color: rgb(255, 164, 0);
    margin-top: 60px;
}

.glow {
    font-family: 'Righteous', cursive;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 60px;
    color: rgb(255, 164, 0);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow:
            0 0 6px rgba(249, 226, 103, 0.34),
            0 0 30px rgba(249, 226, 103, 0.34),
            0 0 12px rgba(249, 226, 103, 0.34),
            0 0 21px rgba(249, 226, 103, 0.34),
            0 0 34px rgba(249, 226, 103, 0.34),
            0 0 54px rgba(249, 226, 103, 0.34);
    }

    to {
        text-shadow:
            0 0 6px rgba(249, 226, 103, 0.34),
            0 0 30px rgba(249, 226, 103, 0.34),
            0 0 12px rgba(249, 226, 103, 0.34),
            0 0 21px rgba(249, 226, 103, 0.34),
            0 0 34px rgba(249, 226, 103, 0.34),
            0 0 54px rgba(249, 226, 103, 0.34);
    }
}

#time {
    color: red;
    text-align: right;
    margin-top: 20px;
}

#question,
.results,
h3 {
    color: rgb(255, 164, 0);
    text-align: center;
}

h3 {
    margin-top: 20px; 
}

#question {
    margin-top: 30px;
    font-size: 30px;
}

#choice {
    margin: 0 auto;
}

#displayStuff {
    color: rgb(255, 164, 0);
    text-align: center;
}
