body {
    background-image: url('https://media.giphy.com/media/Y07JHGMqEAOXcoyIaR/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
}

.container {
    background: black;
    border: 4px dashed white;
    height: 400px;
    width: 800px;
    margin: 0 auto;
}

.btn-mine {
    background-color: rgb(255, 164, 0);
    margin-left: 300px;
    margin-top: 120px;
}

.btn-other {
    background-color: rgb(255, 164, 0);
    margin-top: 60px;
}

.glow {
    font-family: 'Righteous', cursive;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 60px;
    color: rgb(255, 164, 0);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow:
            0 0 6px rgba(249, 226, 103, 0.34),
            0 0 30px rgba(249, 226, 103, 0.34),
            0 0 12px rgba(249, 226, 103, 0.34),
            0 0 21px rgba(249, 226, 103, 0.34),
            0 0 34px rgba(249, 226, 103, 0.34),
            0 0 54px rgba(249, 226, 103, 0.34);
    }

    to {
        text-shadow:
            0 0 6px rgba(249, 226, 103, 0.34),
            0 0 30px rgba(249, 226, 103, 0.34),
            0 0 12px rgba(249, 226, 103, 0.34),
            0 0 21px rgba(249, 226, 103, 0.34),
            0 0 34px rgba(249, 226, 103, 0.34),
            0 0 54px rgba(249, 226, 103, 0.34);
    }
}

#time {
    color: red;
    text-align: right;
    margin-top: 20px;
}

#question,
.results,
h3 {
    color: rgb(255, 164, 0);
    text-align: center;
}

h3 {
    margin-top: 20px;
}

#question {
    margin-top: 30px;
    font-size: 30px;
}

#choice {
    margin: 0 auto;
}

#displayStuff {
    color: rgb(255, 164, 0);
    text-align: center;
}

.flash-button {
    font-family: 'Press Start 2P', cursive;
    background: rgb(255, 164, 0);
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 5px;

    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    //Firefox 1+
    -webkit-animation-name: flash;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    //Safari 3-4
    -moz-animation-name: flash;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

@keyframes flash {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1.0;
    }
}

//Firefox 1+
@-webkit-keyframes flash {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1.0;
    }
}

//Safari 3-4
@-moz-keyframes flash {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1.0;
    }
}

.typewriter p {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}